{% extends "./plantilla.html" %}
{% block body %}
<h1>Editar Genero</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'procesarActualizacionPais' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{paisEditar.id}}">
                <label for=""><b>Nombre:</b></label>
                <input type="text" name="nombre" class="form-control" id="nombre" aria-placeholder="Ingrese el nombre del pais" value="{{paisEditar.nombre}}">
                <label for=""><b>Continente:</b></label>
                <input type="text" name="continente" class="form-control" id="continente" aria-placeholder="Ingrese el  continente" value="{{paisEditar.continente}}">
                <label for=""><b>Capital:</b></label>
                <input type="text" name="capital" class="form-control" id="capital" aria-placeholder="Ingrese la capital" value="{{paisEditar.capital}}">
                <br>
                <button type="submit" class="btn btn-primary">Actualizar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'listadoGeneros' %}" class="btn btn-info">Cancelar</a>

            </form>

        </div>

    </div>

</div>
{% endblock %}