{% extends "./plantilla.html" %}
{% block body %}
<div class="card">
    <div class="card-title text-center">
        <h3><b>Listado de Géneros</b></h3>
    </div>
</div>
<br>
<div class="text-end">
    <a href="{% url 'nuevoGenero' %}" class="btn btn-success">Agregar Género</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
<table class="table table-bordered table-striped table-hover" id="tbl-generos">
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DESCRIPCIÓN</th>
            <th>FOTO</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        {% for generoTemporal in generos %}
        <tr>
            <td>{{ generoTemporal.id }}</td>
            <td>{{ generoTemporal.nombre }}</td>
            <td>{{ generoTemporal.descripcion }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        IMAGEN
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ generoTemporal.foto.url }}" target="_blank">Ver</a>
                        </li>
                        <li>
                            <a class="dropdown-item" download href="{{ generoTemporal.foto.url }}" target="_blank">Descargar</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td>
                <a href="{% url 'editarGenero' generoTemporal.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'eliminarGenero' generoTemporal.id %}" onclick="return confirm('Realmente deseas eliminar el dato?');" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    let table = new DataTable('#tbl-generos');
</script>
{% endblock %}
