{% extends "./plantilla.html" %}
{% block body %}
<div class="card">
    <div class="card-title text-center">
        <h3><b>Listado Paises</b></h3>
    </div>
</div>
<br>
<div class="text-end">
    <a href="{% url 'nuevoPais' %}" class="btn btn-success">Agregar Pais</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
<table class="table table-bordered table-striped table-hover" id="tbl-pais">
    <thead>
        <tr>
            <td>ID</td>
            <th>Nombre</th>
            <th>Continente</th>
            <th>Capital</th>
            <th>Acciones</th>


        </tr>
    </thead>
    <tbody>
        {% for paisTemporal in paises %}
        <tr>
            <td>{{paisTemporal.id}}</td>
            <td>{{paisTemporal.nombre}}</td>
            <td>{{paisTemporal.continente}}</td>
            <td>{{paisTemporal.capital}}</td>
            
                       
            <td>
                <a href="{% url 'editarPais' paisTemporal.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'eliminarPais' paisTemporal.id %}" onclick="return confirm('Realmente deseas eliminar el dato?');" class="btn btn-danger">Eliminar</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<script>
    let table = new DataTable('#tbl-pais');
</script>

{% endblock %}