{% extends "./plantilla.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="cold-md-4"></div>
        <div class="col-md-4">
            <form action="{% url 'guardarGenero' %}" enctype="multipart/form-data" id="frm_nuevo_genero" method="post" > 
                
                
                {% csrf_token %}
                <label for=""><b>Nombre:</b></label>
                <input type="text" name="nombre" class="form-control" id="nombre" aria-placeholder="Ingrese el nombre del genero">
               <br>
                <label for=""><b>Descripción:</b></label>
                <textarea name="descripcion" id="descripcion" class="form-control" rows="3" placeholder="Ingrese la descripcion"></textarea>
                <br>
                <label for=""><b>Fotografia:</b></label>
                <input type="file" name="foto" id="foto" accept="image/*" required class="form-control">
                <br><br>
                <button type="submit" class="btn btn-primary">Guardar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'listadoGeneros' %}" class="btn btn-info">Cancelar</a>

            </form>

        </div>

    </div>

</div>
<br><br><br><br>
<script>
    $("#frm_nuevo_genero").validate(
        {
            rules:{
                nombre:{
                    required:true,
                    minlength:3,
                    maxlength:10
                },
                descripcion:{
                    required:true
                },
                foto:{
                    required:true
                }
        
            },
            messages:{
                nombre:{
                    required:"Por favor ingrese el nombre",
                    minlength:"EL nombre debe tener al menos 3 letras",
                    maxlength:"Màximo 10 caracteres"

                },
                descripcion:{
                    required:" La descripciòn es obligatorio"
                },
                foto:{
                    required:"Por favor seleccione la foto"
                }
        
                
            }
        }
    );

</script>
<script>
    $(document).ready(function() {
        $("#foto").fileinput({                       
            showBrowse: true,
            browseOnZoneClick: true            
        });
    });
    </script>

{% endblock %}