{% extends "./plantilla.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'guardarPelicula' %}" method="post">
                {% csrf_token %}
                <label for=""><b>Titulo:</b></label>
                <input type="text" name="titulo" class="form-control" id="titulo" aria-placeholder="Ingrese el titulo de la pelicula">
                <label for=""><b>Duraciòn:</b></label>
                <input type="time" name="duracion" class="form-control" id="duracion" aria-placeholder="Ingrese la duracion de la pelicula">
                <label for=""><b>Sinopsis:</b></label>
                <textarea name="sinopsis" id="sinopsis" class="form-control" rows="3" placeholder="Ingrese la sinopsis"></textarea>
                <label for=""><b>Genero:</b></label>
                <input type="tex" name="genero" class="form-control" id="genero" aria-placeholder="Ingrese el genero de la pelicula">
                <label for=""><b>Director:</b></label>
                <input type="text" name="director" class="form-control" id="director" aria-placeholder="Ingrese el nombre del director de la pelicula">
                <label for=""><b>Pais:</b></label>
                <input type="text" name="pais" class="form-control" id="pais" aria-placeholder="Ingrese el pais de origen de la pelicula">
                <br>
                <button type="submit" class="btn btn-primary">Guardar</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'listadoPaises' %}" class="btn btn-info">Cancelar</a>

            </form>

        </div>

    </div>

</div>
{% endblock %}